:root {
    --foreground_200: #f2f2f2;
    --foreground_500: #a1a1a1;
    --foreground_700: #ffffff;

    --background_200: #000000;
    --background_500: #262626;
    --background_600: #1d1d1d;
    --background_700: #000000;

    --primary_200: #ffdadb;
    --primary_300: #e9b0c3;
    --primary_400: #cf93a7;
    --primary_500: #ec407a;
    --primary_700: #b7315e;

    --secondary_200: #7fdbe8;
    --secondary_700: #0a92a3;

    --icon_color: #e6def6;
    --pill_color: #494457;
    --border_color: #131313;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--foreground_200);
    background-color: var(--background_500);
}

h1 {
    font-size: 1.5em;
    font-weight: 500;
    color: var(--foreground_500);
    margin: 1em 0;
}

/* Buttons */
button {
    font-size: 0.8em;
    text-align: center;
    color: black;
    background-color: var(--primary_200);
    border: none;
    padding: 10px 20px;
    border-radius: 100px;
    margin-right: 10px;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary_300);
}

button:active {
    background-color: var(--primary_400);
}

button:focus {
    outline: 0;
}

/* Input fields */
input[type="text"],
input[type="number"] {
    color: var(--foreground_200);
    background-color: var(--background_600);
    padding: 10px;
    border: 1px solid var(--border_color);
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="number"]:focus {
    outline: 2px solid #ec407a50;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Icons */
.material-icons {
    font-family: "Material Icons";
    color: var(--foreground_500);
    ;
    padding-right: 10px;
    margin-left: 15px;
    margin-top: -4px;
    vertical-align: middle;
}

/* Sidebar */
.sidebar-logo img,
.sidebar-logo h1 {
    display: inline-block;
    vertical-align: middle;
}

.sidebar-logo img {
    width: 2.5em;
    margin: 0.5em;
}

.sidebar-link {
    display: block;
    font-size: 20px;
    color: var(--foreground_500);
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 100px;
    margin-bottom: 15px;
    transition: 0.1s;
    cursor: pointer;
}

.sidebar-link:hover {
    color: var(--foreground_200);
    background-color: #49445750;
    border: 1px solid var(--border_color);
}

.sidebar-link.active {
    font-weight: bold;
    color: var(--icon_color);
    background-color: var(--pill_color);
    border: 1px solid transparent;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background_600);
    padding: 0 20px;
    border: var(--border_color);
    border-right-width: 1px;
    border-right-style: solid;
    user-select: none;
}

.sidebar-link.active>span.material-icons {
    color: var(--icon_color);
}

/* Page */
.content {
    margin-left: 291px
}

.page {
    display: none;
    width: 70%;
    margin: 0 auto;
}

.page.active {
    display: block;
}

.container {
    background-color: var(--background_600);
    padding: 0.5em;
    border: 1px solid var(--border_color);
    border-radius: 10px;
    margin-bottom: 2em;
}

/* Sensors */
#sensorsTable {
    width: 100%;
}

#sensorsTable th,
#sensorsTable td {
    color: var(--foreground_500);
    padding: 8px;
}

#sensorsTableHeader td {
    color: var(--foreground_700);
    font-weight: bold;
}

/* Chart */
#chartContainer {
    height: 500px;
}

#chartCanvas {
    padding-top: 0.75em;
}

/* Grid */
#ledGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 3em);
    grid-template-rows: repeat(8, 3em);
    margin-bottom: 1.6em;
}

#ledGrid .grid-item {
    width: 3em;
    height: 3em;
    padding: 1px;
    border: 1px solid var(--border_color);
    cursor: pointer;
}

/* Settings */
#settingsContainer label,
#settingsContainer input {
    display: block;
}

#settingsContainer label {
    margin-bottom: 10px;
}

#settingsContainer input {
    margin-bottom: 2em;
}

#settingsRefreshTime {
    margin-bottom: 0px;
}
